{% extends "todo/base.html" %}
{% block content %}
{# Passed variables - item_list and item_select #}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 panel">
      <div id="todo_item">
        <div>
          <div class="row">
            <div class="col-xl-5 col-lg-12 col-sm-12">
              <h1 class="item_header" id="json_title_text"></h1>
            </div>
            <div class="col-xl-6 col-lg-12 col-sm-12">
              <h1 class="item_header" id="json_due_date"></h1>
            </div>
          </div>
          <div class="item_body">
            <p><b>Description:</b><div id="json_desc_text"></div></p>
            <p><b>Impact:</b><div id="json_impact_text"></div></p>
            <p><b>Start Date:</b><div id="json_start_date"></div></p>
            <p><b>Date Item Was Added:</b><div id="json_add_date"></div></p>
            <b>Item Complete? </b><input id="-1" type="checkbox" name="item_complete" checked>
          </div>
        </div>
      </div>
    </div>
    <div id="todo_list" class="col-md-4 panel">

      {% if messages %}
        <div class="row">
          {% for message in messages %}
          <br>
          <div class="col-md-12" style="text-align: center; color: red;">
            <h1>{{ message }}</h1>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <div id = "todo_container">
        <div class="col-md-12" style="text-align: center; color: #ececec;">
          <h1>{{request.user.username}}'s Items</h1>
        </div>
        {% for item in item_list %}
        <div class="item" id = {{item.id}}>
          <div class="item_info">
            <h3><b>Title:</b> {{item.title_text}}</h3>
            <h4><b>Due:</b> {{item.due_date | date:"m/d/Y"}}</h4>

            <h4><div class="complete_info" id = {{item.id}}>
              {% if item.complete %}
                <b>Complete:</b> <span id ="complete_status" style='color: green'>{{item.complete}}</span>
              {% else %}
                <b>Complete:</b> <span id ="complete_status" style='color: red'>{{item.complete}}</span>
              {% endif %}
            </div></h4>
          </div>
        </div>
        {% endfor %}
      </div>

      <div id = "todo_container">
        <div class="col-md-12" style="text-align: center; color: #ececec;">
          <h1>Items Past Due Date</h1>
        </div>
        {% for item in past_items %}
        <div class="item" id = {{item.id}}>
          <div class="item_info">
            <h3><b>Title:</b> {{item.title_text}}</h3>
            <h4><b>Due:</b> {{item.due_date | date:"m/d/Y"}}</h4>

            <h4><div class="complete_info" id = {{item.id}}>
              {% if item.complete %}
                <b>Complete:</b> <span style='color: green'>{{item.complete}}</span>
              {% else %}
                <b>Complete:</b> <span style='color: red'>{{item.complete}}</span>
              {% endif %}
            </div></h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div id="new_item" class="row">
    <br>
    <div class="col-md-8 offset-2">
      <div id="new_item_container" class="container" style="background-color: #ececec">
        <form action="/todo/add_item/" method="post" id = "item_form">
          {% csrf_token %}
          <h2>Note: Only date fields may be modified. (Concerned about malicious usage)</h2>
          <h2>Just select dates and press the green button. (Preset info filled in)</h2>
          <div class="form-group">
            <b>Title:</b>
            <input type="text" class="form-control form-control-lg" name = "title" 
              placeholder = "Title of this task.">
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <b>Description:</b>
              <textarea class="form-control form-control-lg" name = "desc" rows="3"
                placeholder = "What nature of this task?"></textarea>
            </div>

            <div class="form-group col-md-6">
              <b>Impact:</b>
              <textarea class="form-control form-control-lg" name = "impact"  rows="3"
                placeholder = "What is the impact of completion/failure?"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <b>Start Date:</b>
              <input type="text" class="form-control form-control-lg" id="start_date" name = "start" placeholder = "MM/DD/YYYY">
            </div>
            <div class="form-group col-md-6">
              <b>Due Date:</b>
              <input type="text" class="form-control form-control-lg" id="due_date" name = "due" placeholder = "MM/DD/YYYY">
            </div>
          </div>
          <div class="form-group">
            <button type = "submit" class="btn btn-success btn-lg" id="add_button" name = "add_button">Add Todo Item!</button>
          </div>
        </form>
        <button type = "submit" class="btn btn-danger btn-lg" id = "cancel_button">Cancel!</button>
      </div>
    </div>
  </div>


</div>

{% endblock %}
