{% extends "todo/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="todo_item" class="width col-md-6">
      <p>Title: {{item_list.0.title_text}}</p>
      <p>Description: {{item_list.0.desc_text}}</p>
      <p>Impact: {{item_list.0.impact_text}}</p>
      <p>Start: {{item_list.0.start_date}}</p>
      <p>Due: {{item_list.0.due_date}}</p>
      <p>Added: {{item_list.0.add_date}}</p>
      <p>Priority: {{item_list.0.priority}}</p>
    </div>
    <div id="todo_list" class="width col-md-6">
      <table class="table">
        <thead>
            <th>Title</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in item_list %}
          <tr>
              <td>{{item.title_text}}</td>
              <td>{{item.due_date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
