{% extends "todo/base.html" %}
{% block content %}
{# Passed variables - item_list and item_select #}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 panel">
      <div id="todo_item">
        <div class="row">
          <p class="col-md-6" id="json_title_text"></p>
          <p class="col-md-6" id="json_due_date"></p>
        </div>
        <p id="json_desc_text"></p>
        <p id="json_impact_text"></p>
        <p id="json_start_date"></p>
        <p id="json_add_date"></p>
      <!-- <p id="json_priority">Priority: {{item_select.priority}}</p> -->
      </div>
    </div>
    <div id="todo_list" class="col-md-5 panel">
      <div id = "todo_container">
        <table class="table">
          <thead>
              <th>Title</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in item_list %}
            <tr class = "item" id = {{item.id}}>
                <td>{{item.title_text}}</td>
                <td>{{item.due_date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div id="new_item" class="row">
    <div class="resbr"></div>
    <div class="col-md-8 offset-2">
      <div id="new_item_container" class="container" style="background-color: #ecececff">
        <form action="/todo/add_item/" method="post" id = "item_form">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" name = "title" placeholder = "Title">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" name = "desc" placeholder = "Description">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" name = "impact" placeholder = "Impact">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="start_date" name = "start" placeholder = "Start Date">
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="due_date" name = "due" placeholder = "Due Date">
          </div>
          <div class="form-group">
            <button type = "submit" class="btn btn-success btn-lg" id="add_button" name = "add_button">Add Todo Item!</button>
          </div>
        </form>
        <button type = "submit" class="btn btn-danger btn-lg" id = "cancel_button">Cancel!</button>
      </div>
    </div>
  </div>

</div>

{% endblock %}
