body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transition: all 0.4s ease 0s;
}

#nav {
  background-color: #ca0000ff;
  padding: 0px;
  padding-top: 1%;
}
.nav_expand{
  margin: 0 auto;
  width: 80%;
  padding: 10%;
  transition: all 0.4s ease 0s;
}

.nav_icon{
  background-color: #f9f9f9ff;
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
  padding: 5%;
}

.nav_expand:hover, .nav_icon:hover {
  filter: opacity(50%);
}
