body {
  background-color: #ecececff;
}

#content{
  transition: all 0.4s ease 0s;
}

.resbr{
  padding:5%;
}

.item{
  transition: all 0.4s ease 0s;
  margin: 10px;
}
.item:hover {
  opacity: 0.5;
}
.item_info{
  background-color: #ecececff;
  border-style: solid;
  border-color: #ecececff;
  border-radius: 5px;
}

#todo_item{
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-color: #ca0000ff;
  border-radius: 25px;
  background-color: #ca0000ff;
  transition: all 0.3s ease;
}

.item_header{
  background-color: #ecececff;
  border-style: solid;
  border-color: #ecececff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.item_body{
  background-color: #ecececff;
  border-style: solid;
  border-color: #ecececff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

#todo_container{
  margin: 10px;
  padding: 3px;
  border-style: solid;
  border-color: #ca0000ff;
  border-radius: 25px;
  background-color: #ca0000ff;
}

#new_item {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

#new_item_container{
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-color: #dfdfdfff;
  border-radius: 10px;
}

#item_form {
  padding: 10px;
}

#cancel_button{
  margin: 10px;
  margin-top: 0px;
}

#json_title_text, #json_due_date{
  font-weight: bold
}
.exit_new_item{
  background-color: #ca0000ff;
}
